


<link rel="stylesheet" href="/css/update_pages.css">


<div class="edit-profile">
   <!-- this is the left content -->
   <div id="left-content">
     <div id="profile" class="left-content-div">
       <span class="left-content-icon"><i class="fas fa-user"></i></span>
       <span class="left-content-text"><a href="">profile</a></span>
     </div>
     <div id="home" class="left-content-div">
      <span class="left-content-icon"><i class="fas fa-home"></i></span>
      <span class="left-content-text"><a href="">Home</a></span>
    </div>
    <div id="friends" class="left-content-div">
      <span class="left-content-icon"><i class="fas fa-user-friends"></i></span>
      <span class="left-content-text"><a href="">friends</a></span>
    </div>
    <div id="information" class="left-content-div">
      <span class="left-content-icon"><i class="fas fa-info"></i></span>
      <span class="left-content-text"><a href="">information</a></span>
    </div>
     
   </div>
   <!-- this is the right content -->
   <div id="right-content">
     <div id="edit-profile-text">
       <span>EDIT INFORMATION</span>
     </div>
     <!-- this is the image section of update profile page -->
     <form action="/user/update/<%= users.id %>" method="POST" enctype="multipart/form-data">
     <div class="image-form">
      <div class="avatar-img">
        <% if(users.avatar) {%>
          <img src="<%=users.avatar%>">
          <%}else {%>
            <img src="/images/avatar-image.webp">
            <%}%>
      </div>
      <div class="add-file"><span> <input type="file" name="avatar" placeholder="profile Picture" > </span></div>
     </div>
     <!-- heading section heading -->
     <div class="acc-info"><span>ACCOUNT INFORMATION</span></div>
     <!-- edit name -->
     <div class="user-details">
       <span class="user-details-span1" >Name :</span>
       
       <span class="user-details-span2"><input name = "name" type="text" value="<%=users.name %>"></span>
     </div>
     <!-- edit email -->
     <div class="user-details">
      <span class="user-details-span1" >email :</span>
      <span class="user-details-span2"><input name="email" type="email" value="<%=users.email %>"></span>
    </div>
    <!-- edit phone number -->
    <div class="user-details">
      <span class="user-details-span1" >phone :</span>
      <% if(users.phone) {%>
        <span class="user-details-span2"><input name="phone" type="text" value="<%= users.phone %>"></span>
        <%} else {%>
          <span class="user-details-span2"><input name="phone" type="text" placeholder="enter phone number"></span>
          <%}%>
     
    </div>
    <!-- edit adress -->
    <div class="user-details">
      <span class="user-details-span1" >Address :</span>
      <% if(users.address) {%>
        <span class="user-details-span2"><input name="address" type="text" value="<%=users.address %>"></span>
        <%}else {%>
          <span class="user-details-span2"><input name="address" type="text" placeholder="enter adress"></span>
          <%}%>
     
    </div>
    <!-- about the user -->
    <div class="user-details">
      <span class="user-details-span1" >About :</span>
      <% if(users.content) {%>
        <span class="user-details-span2"><textarea rows="10" cols="30" name="about" type="text" placeholder ="<%= users.content %>"></textarea>
        <%}else {%>
          <span class="user-details-span2"><textarea rows="10" cols="30" name="about" type="text" placeholder =" About Yourself"></textarea>
          
          <%}%>
    </div>
    <div class="update-button">
    <span><button type="submit">Save Changes</button></span>
    </div>
     </form>
   </div>




</div>









<!-- <h1>finally it shows the profile and layouts</h1>
<h1><%=  users.name  %></h1>
<h1><%= users.email%></h1>
<h1><button type="submit">log-out</button></h1>

<img src="<%= users.avatar %>" alt="image not found" width="100"> -->

<!-- now its time to update the profile current logged in user can update their profile -->
<!-- <%  if(user.id==users.id){%>
    
    <form action="/user/update/<%= users.id %>" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" value="<%= users.name%>">
        <input type="email" name="email" value="<%=users.email%>">
        <input type="file" name="avatar" placeholder="profile Picture">
        <textarea name="contents" cols="30" rows="10" required></textarea>
        <button type="submit">update</button>
      </form>
    
    <%}%> -->


<!-- here there is two user one is user current logged in user and and second one users which we send from the controller -->
<!-- ending of update the profile -->
